
*{
    box-sizing: border-box;
}
body{
    text-align: center;

}
section{
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 100px;
    width: 100%;
}
section > div{
    position: relative;
    border: 3px black solid;
    background-color: grey;
    margin: 5px;
    width: 32.33%;
}
section > div h4{
    padding:0 20px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    border: 3px black solid;
    border-top: none;
    border-right: none;
    margin: 0;
    align-items: center;
    background-color: brown;
    width: max-content;
    font-size: 18px;
}
section > div p{
    padding: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}
#Chicken{
    background-color: palevioletred;
}
#beef{
    background: brown;
    color: aliceblue;
}
#d{
    background-color: bisque;
     color: black

}
@media screen and (max-width:912px) {
    section{
        display: table;
        clear: both;
        content: '';
    }
    section > div{
    width: 48%;
    float: left;

    margin-bottom: 15px;
    }
    section > div:nth-child(3){
    width: 97.5%;
    } 
}
@media (max-width:600px) {
    section > div{
    width: 98%;
    }
}
